<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.xws4j.business.xwsManager"
            service="net.bioclipse.xws4j.business.XWSManagerFactory">
      </scriptContribution>
   </extension>



   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bioclipse.xws4j.preferences.PreferencePage"
            id="net.bioclipse.xws4j.preferencepage"
            name="XMPP Web Services">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.xws4j.preferences.PreferenceInitializer">
      </initializer>
   </extension>
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.bioclipse.xws4j.actionSet"
            label="Xws4j Action Set"
            visible="true">
         <menu
               id="Xws4jMenu"
               label="XMPP Web Services">
            <separator name="Xws4jGroup"/>
         </menu>
         <action
               class="net.bioclipse.xws4j.actions.ActionPulldown"
               icon="icons/png/disconnected.png"
               id="net.bioclipse.xws4j.ToolbarActionPulldown"
               label="XWS Toolbar Button"
               style="pulldown"
               toolbarPath="Xws4jGroup"
               tooltip="&amp;XMPP Web Services - Show Console"/>
         </actionSet>
   </extension>
</plugin>
