<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.xws4j.business.xwsManager"
            service="net.bioclipse.xws4j.business.XwsManagerFactory">
      </scriptContribution>
   </extension>



   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bioclipse.xws4j.preferences.PreferencePage"
            id="net.bioclipse.xws4j.preferencepage"
            name="XMPP">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.xws4j.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.bioclipse.xws4j.actionSet"
            label="Xws4j Action Set"
            visible="true">
         <action
               class="net.bioclipse.xws4j.actions.ActionPulldown"
               icon="icons/png/disconnected.png"
               id="net.bioclipse.xws4j.ToolbarActionPulldown"
               label="XMPP Toolbar Button"
               style="pulldown"
               toolbarPath="Xws4jGroup"
               tooltip="&amp;XMPP - Show Console"/>
         </actionSet>
   </extension>
   <extension 
         id="add.item"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI= "menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="net.bc.dummyMenu"
               label="XMPP">
            <dynamic
                  class="net.bioclipse.xws4j.actions.ToggleConnectionAction$ToggleConnectionActionContribution"
                  id="net.bioclipse.xws4j.dynamic.toggleConnectionAction">
            </dynamic>
            <separator
                  name="net.bioclipse.xws4j.menu.separator1"
                  visible="true">
            </separator>
            <menu
                  label="Options">
               <dynamic
                     class="net.bioclipse.xws4j.actions.DebugModeAction$DebugModeActionContribution"
                     id="net.bioclipse.xws4j.dynamic.debugModeAction">
               </dynamic>
            </menu>
            <separator
                  name="net.bioclipse.xws4j.menu.separator2"
                  visible="true">
            </separator>
            <dynamic
                  class="net.bioclipse.xws4j.actions.ShowConsoleAction$ShowConsoleActionContribution"
                  id="net.bioclipse.xws4j.dynamic.showConsoleAction">
            </dynamic>
         </menu>
      </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="net.bioclipse.xws4j.XwsConsole"
            label="XMPP Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.bioclipse.xws4j.category"
            class="net.bioclipse.xws4j.views.servicediscovery.ServiceDiscoveryView"
            id="net.bioclipse.xws4j.servicediscoveryview"
            name="XMPP Service Discovery"
            restorable="true">
      </view>
      <category
            id="net.bioclipse.xws4j.category"
            name="XMPP">
      </category>
   </extension>
</plugin>
